@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i,700&display=swap");
h1,
h2 {
  font-family: "Roboto Mono", bold;
}

/*------------------ Navbar ---------------*/

.navbar {
  font-family: "Roboto Mono", medium;
  transition: 0.5s;
  background-color: #1d2124;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-top {
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-top a {
  color: white;
  transition: 0.5s;
}

@media screen and (min-width: 380px) {
  .navbar .active {
    border-bottom: 1px solid white;
  }
}

/*-------------- Home --------------*/

#banner {
  height: 100vh;
}

.banner-text img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  opacity: unset;
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 75%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
}

@media screen and (max-width: 380px) {
  .banner-text {
    width: unset;
  }
  .banner-text img {
    width: 40vw;
    height: 40vw;
  }
}

/*----------------- ToolsAndLlf ---------------*/

#toolsAndLlf {
  height: 100vh;
}

#toolsAndLlf .toolsAndLlf {
  margin: auto;
}

#toolsAndLlf h2 {
  padding-bottom: 30px;
}

#toolsAndLlf .col-auto {
  padding-top: 1rem;
  text-align: center;
}

#toolsAndLlf img {
  height: 15vh;
}

#toolsAndLlf hr {
  margin: 4rem;
  border: solid 1px black;
  width: 75%;
}

@media screen and (max-width: 380px) {
  #toolsAndLlf {
    height: unset;
    padding: 3rem 1rem;
  }
}

/*-------------- Project ------------*/

#Project {
  padding: 5rem 2rem;
  margin: -2rem 0;
}

#Project .nav a {
  color: black;
  background-color: rgb(184, 175, 175);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#Project .nav .active {
  border-color: black;
  color: white;
  background-color: black;
}

#Project .nav-tabs {
  border-bottom: 1px solid black;
}

#Project .nav-link:hover {
  border-color: #848484;
}

#Project .card {
  height: 100%;
}

#Project img {
  height: 200px;
}

.blink_me {
  color: red;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 380px) {
  #Project {
    height: unset;
  }
  .col-md-4 {
    padding-bottom: 3rem;
  }
}

/*---------------- About ------------*/

#About {
  padding: 5rem 0;
  margin: -2rem 0;
}

#About .jumbotron {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  padding: 3rem;
  width: 60%;
  margin: 4rem auto;
}

#About .jumbotron img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 1190px) {
  #About .jumbotron {
    width: 90%;
  }
  #About .col-md-4 {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 380px) {
  #About .jumbotron {
    padding: 2rem;
    width: 100%;
  }
  #About .jumbotron .col-sm-5 {
    padding-bottom: 2rem;
  }
  #About .jumbotron img {
    width: 40vw;
    height: 40vw;
  }
}

.buttonUp {
  display: inline-block;
  font-size: 40px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border-radius: 50px;
  transition: all 2s linear;
}

.display {
  opacity: 0;
  display: none;
}

/*---------------- Footer ----------------*/

.footer,
.footer a {
  background: #1d2124;
  color: white;
}

.footer .link i {
  font-size: 4vw;
}

.footer .link i {
  color: black;
}

.footer .contact div {
  font-size: 16px;
  word-break: break-all;
}

@media screen and (max-width: 380px) {
  .footer .link i {
    font-size: 15vw;
  }
}
